@import "../utils/mixins.scss";
@import "../utils/variables.scss";


.iconSocial{
    cursor: pointer;
    color:$lightGray;
    @include for-phone-only{
        margin: 5px;
    }
}

.iconSocial:hover{
    fill:#ffff;
    padding: 10px;
    border-radius: 26px;
    background-color: #e6b5b5;
    @include for-phone-only{
        padding: 13px;
        border-radius: 100%;
    }
}