@mixin customFlex($row: "", $column: "") {
  display: flex;
  justify-content: $row;
  align-items: $column;
}

@mixin customFont($size: "", $lineHeight: "", $weight: "", $fontFamily: "") {
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
  font-family: $fontFamily;
}

@mixin lineProperty($width: "", $height: "", $color: "") {
  height: $height;
  width: $width;
  background-color: $color;
}

@mixin galleryBackgroud() {
  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat;
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
