$DancingFont: 'Dancing Script', cursive;
$PlayfairFont: 'Playfair Display', serif;
$RalewayFont:'Raleway', sans-serif;
$blackHalf: "#838181";
$blacklight:"#696969";
$gray:#5a5957;
$lightGray:#848282;
$red: #d07c7c;