@import "../utils/mixins.scss";
@import "../utils/variables.scss";


.followSection{
    margin-top: 5%;
    height: 25vh;
    @include customFlex(space-around,center);
    flex-direction: column;
    &__tittle{
        @include customFont(30px,18px,400,$PlayfairFont);
        text-align: center
    }
    &__line{
        @include lineProperty(60px,1.5px,$red);
    }
    
}
.socialMediaNav{
    width: 50%;
    height: 50px;
    margin: 0 auto;
    @include customFlex(space-around,center);
    fill: #5a5957;
}
