@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.navigation {
  @include customFlex("flex-end", "center");
  &__navName {
    margin: 0 auto 0 35px;
    @include customFont(25px, 24px, 400, $DancingFont);
    color: $blackHalf;
    @include for-phone-only {
      margin: 0;
      margin-right: auto;
      font-size: 15px;
    }
  }
  a {
    padding: 10px;
    cursor: pointer;
  }
  &__navLinks {
    @include for-phone-only {
      @include customFont(10px, 15px, 400, $RalewayFont);
      text-align: center;
      margin: 0;
    }
    text-decoration: none;
    color: $blacklight;
    @include customFont(16px, 31px, 400, $RalewayFont);
    margin: 0 50px;
  }
  &__navLinks:active {
    color: initial;
  }
}

.hrNav{
  @include lineProperty(100%,1px,$gray);
  border: none;
}