@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.navigation {
  @include customFlex("flex-end", "center");
  &__navName {
    margin: 0 auto 0 35px;
    @include customFont(25px, 24px, 400, $DancingFont);
    color: $blackHalf;
  }
  a {
    padding: 10px;
    cursor: pointer;
  }
  &__navLinks {
    color: $blacklight;
    @include customFont(16px, 31px, 400, $RalewayFont);
    margin: 0 50px;
  }
}
